# --- Project Structural Ignores ---
.env
configs/settings_local.py
__pycache__/
logs/
wandb/

# --- System Junk ---
.DS_Store
._*
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# --- Data Lake & Mounts (Total Barrier) ---
gdrive/
data/
models/
data_lake/
data_lake/Research_Archive/

# --- Heavy Asset Blocklist (Global) ---
*.mp4
*.tiff
*.tif
*.png
*.jpg
*.jpeg
*.pth
*.onnx
*.tar.*
*.aa
*.zip

# --- Manifest & Inventory Blocklist (The 100MB Shield) ---
*_MANIFEST_*.csv
manifests/inventories/*.csv
resources/forensics/*.txt
resources/forensics/*.zip
